<div class="comment">
    <a href="{{comment.remote_actor.url}}">
        {{comment.remote_actor.profile.preferredUsername}}
    </a>   
    <small>
        {{comment.remote_actor}}<br>
    </small>
    {{comment.data.content|safe}}
    <button type="link" onclick="show_hide_interactions('{{comment.uid}}')">reply to comment</button>
    <div id="reply-{{comment.uid}}" class="comment_interactions">
        {% include 'templates/Blog/interaction_modal.html' with comment=comment %}
    </div>
    <small>
        {% include 'templates/Blog/interactions.html' with note=comment %}
    </small>
    {% for reply in comment.replies.all %}
        {% include 'templates/Blog/comment.html' with comment=reply %}
    {% endfor %}
</div>