<div class="comment">
    <a href="{{comment.actor.get_absolute_url}}">
        {% if comment.actor.profile.preferredUsername %}
            {{comment.actor.profile.preferredUsername}}
        {% else %}
            {{comment.actor.username}}
        {% endif %}
    </a>   
    <small>
        {{comment.actor}}<br>
    </small>
    <p>
        {{comment.data.content|safe}}
    </p>
    <button type="link" onclick="show_hide_interactions('{{comment.uid}}')">reply to comment</button>
    <button type="link" onclick="like_comment('{{comment.uid}}')">Like</button>
    <div id="reply-{{comment.uid}}" class="comment_interactions">
            {% include 'templates/Blog/interaction_modal.html' with comment=comment %}

    </div>
    <small>
        {% include 'templates/Blog/interactions.html' with note=comment %}
    </small>
    {% for reply in comment.replies.all %}
        {% include 'templates/Blog/comment.html' with comment=reply %}
    {% endfor %}
</div>