{% extends "Blog/base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'styles/note_summary.css' %}">
    <link rel="stylesheet" href="{% static 'styles/comment.css' %}">
    <script src="{% static 'scripts/comment_interactions.js' %}"></script>
{% endblock extrahead %}
{% load i18n %}

{% block title %}{{note.actor.display_name}} - {{note.content}}{% endblock title %}

{% block content %}
        <h1 class="compact_heading">{{note.data.veblen.title}}</h1>
        {% include 'templates/Blog/main_note_details.html' %}

        {% if note.data.veblen.summary %}
        <div>
            <i>{{note.data.veblen.summary}}</i><br><br>
        </div>
        {% endif %}
        <div class="content">
        {{note.data.veblen.body|safe}}
    </div>
{% include 'templates/Blog/interactions.html' with note=note %}
{% if note.replies.exists %}
<h2>Comments</h2>
<section id="replies">
    
{% for reply in note.replies.all reversed %}
{% include "templates/Blog/comment.html" with comment=reply %}
{% endfor %}
</section>
{% endif %}
{% endblock content %}
