{% extends "Blog/base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'styles/note_summary.css' %}">
    <link rel="stylesheet" href="{% static 'styles/comment.css' %}">
    <script src="{% static 'scripts/comment_interactions.js' %}"></script>
    <script src="{% static 'scripts/apply_image_focal_point.js' %}"></script>
{% endblock extrahead %}
{% load i18n %}

{% block title %}{{note.actor.display_name}} - {{note.content}}{% endblock title %}

{% block content %}
{% if note.data.veblen %}
    <h1 class="compact_heading">{{note.data.veblen.title}}</h1>
    {% if note.data.veblen.summary %}
    <div>
        <i>{{note.data.veblen.summary}}</i><br><br>
    </div>
    {% endif %}
    {% if note.data.attachment %}
        <img class="title_image" 
             id="title_image" 
             src="{{note.data.attachment.0.url}}" 
             onload='apply_image_focal_point("title_image", {{note.data.attachment.0.focus}})'/><br>
        <br>
    {% endif %}

    <div class="content">
        {{note.data.veblen.body|safe}}
    </div><br>
    <div class="likes_bar">
        {% include 'templates/Blog/main_note_details.html' %}
    </div>

{% else %}
{% include "templates/Blog/comment.html" with comment=note %}
{% endif %}
{% include 'templates/Blog/interactions.html' with note=note %}
<h2>Comments</h2>
<section id="replies">
    <p>
        {% include 'templates/Blog/interaction_modal.html' with comment=note %}
    </p>
    {% if not note.replies.exists %}
    There are no comments yet
    {% else %}

    {% for reply in note.replies.all reversed %}
    {% include "templates/Blog/comment.html" with comment=reply %}
    {% endfor %}

    {% endif %}

</section>
{% endblock content %}
